.playBackButton {
  padding-right: 10px;
}

.forwardButton {
  padding-right: 10px;
}

.playerDiv {
  padding: 20px;
}

.progressIndicator {
  display: inline-block;
}

.playerControls {
  margin-top: 20px;
}
