.SongListItem {
  display: flex;
  flex-direction: row;
  line-height: 35px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.15s linear;
}
.SongListItem:hover {
  background-color: #efefef;
}
.SongListItem span {
  margin-left: 10px;
}
