.SongListItem {
  display: flex;
  flex-direction: row;
  line-height: 35px;
  margin-top: 10px;
  transition: background-color 0.15s linear;
}

.SongListItem:hover {
  background-color: #efefef;
}

.SongListItem span {
  margin-left: 10px;
}

.SongListItem svg {
  cursor: pointer;
  display: block;
  height: 2em;
  padding: 0 8px 0 8px;
}
