.SongListItem {
  display: flex;
  flex-direction: row;
  line-height: 35px;
  transition: background-color 0.15s linear;
  cursor: pointer;
  padding: 8px;
  border-bottom: 1px solid #191919;
}

.SongListItem img {
  height: 32px;
  width: 32px;
}
.SongListItem span {
  text-align: left;
  justify-content: left;
  max-width: 75%;
  height: 32px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex: auto;
}

.SongListItem:hover {
  background-color: #efefef;
  color: #242325;
}

.SongListItem span {
  margin-left: 10px;
}

.SongListItem svg {
  cursor: pointer;
  display: block;
  height: 2em;
  padding: 0 8px 0 8px;
}
