@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Mono:300,400");

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
  width: 80px;
  margin: 0 auto;
}

.App-header {
  background-color: #1f1415;
  height: 33vmin;
  padding: 24px;
  color: white;
  position: relative;
  overflow: hidden;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

body {
  color: rgb(255, 255, 255);
  background-color: #242325;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

@keyframes throb {
  from {
    transform: scale(1.2);
  }
  to {
    transform: scale(1.1);
  }
}

@keyframes shrink {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}

.albumArtBG {
  transition: opacity 0.3s ease-in-out;
  -webkit-filter: blur(20px);
  -moz-filter: blur(20px);
  -o-filter: blur(20px);
  -ms-filter: blur(20px);
  filter: blur(20px);
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  animation: throb 4s ease-in-out infinite alternate;
  mix-blend-mode: difference;
}

.albumArt {
  height: 35vmin;
  width: 35vmin;
  display: block;
  background-color: rgb(226, 39, 14);
  margin: 0 auto;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.6);
  background-position: center;
  background-size: cover;
  border-radius: 100%;
}

@keyframes throb-small {
  from {
    transform: scale(0.15);
  }
  to {
    transform: scale(0.7);
  }
}

.albumArt::after {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 1),
    inset 0 -1px 0 rgba(0, 0, 0, 0.3);
  border-radius: 100%;
  mix-blend-mode: overlay;
}

.albumInfo {
  position: absolute;
  z-index: 1;
  margin: 0 auto;
  bottom: -8vmin;
  left: 0;
  right: 0;
  text-shadow: 0 3px 5px rgba(0, 0, 0, 0.8);
}

.title {
  margin-top: 1em;
  font-size: 1.4em;
  font-weight: 400;
  line-height: 1.75em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.artistName {
  font-size: 1.15em;
}

.authButton {
  padding-top: 10px;
  padding-bottom: 20px;
}

.signOutButton {
  text-transform: none;
}
